/* Style pour le tableau */
#scoreTable {
border-collapse: collapse;
width: 100%;
font-family: Arial, sans-serif;
}

/* Style pour l'en-tête du tableau */
#scoreTable thead th {
background-color: #f2f2f2;
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

/* Style pour les cellules du corps du tableau */
#scoreTable tbody td {
border: 1px solid #ddd;
padding: 8px;
}

/* Style pour les lignes paires du corps du tableau */
#scoreTable tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

/* Style pour les lignes impaires du corps du tableau */
#scoreTable tbody tr:nth-child(odd) {
background-color: #244f6f;
color: white;
}

/* Style pour le survol des lignes du corps du tableau */
#scoreTable tbody tr:hover {
background-color: #e6e6e6;
}

/* Logo RTD */
#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#logo {
width: 30px;
height: 30px;
margin-right: 10px;
vertical-align: middle;
}

/* Taille et couleur titre h1 */
h1 {
font-size: 24px;
margin-top: 10px;
color: white;
}

/* Taille titre h2 */
h2 {
    font-size: 16px;
    color: white;
}

/* Image arrière-plan */
body {
background-image: url('assets/RescueInTheDeep/ELEMENTS/TOYS_RESCUE_rescue_in_the_deep_presentation_03.png');
background-size: cover;
background-repeat: no-repeat;
}

.medal {
display: inline-block;
width: 40px;
height: 40px;
margin-right: 100px; /* Réduit la marge à droite pour éviter le chevauchement */
margin-bottom: 5px;
margin-top: 5px;
/* Styles d'image pour les médailles (or, argent, bronze) */
}

#goldMedal {
background-image: url('assets/medals/first.png');
}

#silverMedal {
background-image: url('assets/medals/second.png');
}

#bronzeMedal {
background-image: url('assets/medals/third.png');
}

#top3 {
margin-top: 20px;
text-align: center; /* Centrer le titre */
}

#top3List {
display: flex;
justify-content: space-around;
align-items: center; /* Centrer verticalement les éléments */
margin-top: 10px;
}

.top3Player {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
font-weight: bold;
color: white;
}

.medal-image {
width: 50px;
height: auto;
display: block;
margin-bottom: 5px;
margin-top: 5px;
}

.playerName {
font-weight: bold;
margin-bottom: 2px;
}

.playerScore {
font-size: 14px;
color: white;
margin-top: 0;
}

.rank-1 .medal img {
filter: brightness(1.5); /* Appliquer un effet de surbrillance à la médaille d'or */
}

.rank-2 .medal img {
filter: brightness(1.2); /* Appliquer un effet de surbrillance à la médaille d'argent */
}

.rank-3 .medal img {
filter: brightness(1.1); /* Appliquer un effet de surbrillance à la médaille de bronze */
}

#fileUploadContainer {
    text-align: center;
    margin-bottom: 20px; /* Ajustez la marge selon vos besoins */
}

#uploadButton,
#selectFileButton {
    display: inline-block;
}

/* Footer */
footer {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: black;
}
