/* Style pour le tableau */
#scoreTable {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Style pour l'en-tête du tableau */
#scoreTable thead th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style pour les cellules du corps du tableau */
#scoreTable tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Style pour les lignes paires du corps du tableau */
#scoreTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style pour le survol des lignes du corps du tableau */
#scoreTable tbody tr:hover {
    background-color: #e6e6e6;
}

/* Image arrière plan */
body {
    background-image: url('assets/RescueInTheDeep/ELEMENTS/TOYS_RESCUE_fond_bleu.png');
    background-size: cover;
}