/* Style pour le tableau */
#scoreTable {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Style pour l'en-tête du tableau */
#scoreTable thead th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style pour les cellules du corps du tableau */
#scoreTable tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Style pour les lignes paires du corps du tableau */
#scoreTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style pour le survol des lignes du corps du tableau */
#scoreTable tbody tr:hover {
    background-color: #e6e6e6;
}

/* Image arrière plan */
body {
    background-image: url('assets/RescueInTheDeep/ELEMENTS/TOYS_RESCUE_rescue_in_the_deep_presentation_03.png');
    background-size: cover;
}

.medal {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    /* Styles d'image pour les médailles (or, argent, bronze) */
}

#goldMedal {
    background-image: url('assets/medals/first.png');
}

#silverMedal {
    background-image: url('assets/medals/second.png');
}

#bronzeMedal {
    background-image: url('assets/medals/third.png');
}



#top3 {
    margin-top: 20px;
}

#top3 h2 {
    text-align: center;
}

#top3List {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.top3Player {
    text-align: center;
}

.medal {
    margin-bottom: 5px;
}

.playerName {
    font-weight: bold;
}

.playerScore {
    font-size: 14px;
    color: gray;
}
